/* variáveis */
:root {
    --gradiente-azul: linear-gradient(90deg, #90dfe2, #0a2958);
    --verde-agua-claro: #defaf3;
    --azul-escuro: #0a2958;
    --verde-agua: #90dfe2;
    --off-white: #d9e5f5;
    --grafite: #575a5f;
}

/* variáveis de tag - base */
header {
    display: flex;
    align-items: col;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: var(--off-white);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: var(--azul-escuro);
    text-shadow: var(--verde-agua) 1px 1px 5px;
}

header a {
    color: white;
    padding: 1em;
}

header a:hover {
    color: var(--verde-agua-claro);
    text-shadow: var(--azul-escuro) 1px 1px 5px;
}

ul {
    list-style-type: none;
}

dl,
ul,
ol,
p {
    margin-left: 2em;
}

li {
    display: flex;
    padding: 5px;
}


h3 {
    background: var(--gradiente-azul);
    color: white;
    display: inline-block;
    border-radius: 0 50px 50px 0;
    padding: 1em 1em 1em 3em;
    box-shadow: var(--verde-agua) 1px 1px 5px;
}

/* variáveis de classes */
.links-topo {
    margin: 1em;
}

.img-perfil {
    max-width: 250px;
    border-radius: 100%;
    margin: 1em;
    box-shadow: var(--verde-agua) 2px -1px 15px;
}

.icone {
    padding-right: 5px;
}

.btn-top {
    background: var(--azul-escuro);
    color: white;
    display: inline-block;
    border-radius: 100px;
    padding: 10px;
    box-shadow: var(--verde-agua) 0.5px 0.5px 5px;
}

.div-img-perfil {
    display: flex;
    justify-content: center;
    width: 250px;
    background: var(--gradiente-azul);
    color: white;
    padding: 60px 20px 160px 20px;
    text-align: center;
    border-bottom-left-radius: 300px;
    border-bottom-right-radius: 300px;
}

/* DIV CONTATO */
